.root {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check > * {
    margin: 5px;
}